
.sort{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:95%;
    margin-left:100px;
    margin-bottom: 10px
}

.sep{
    margin-left:3px;
}

.sortapplied{
  display:flex;
  margin-left:102px;
  flex-direction:row;
  width:95%;
  color:rgb(236, 231, 223) ;
  font-weight:bold;
  padding: 0px 
  }

.sorting{
    display: flex;
    flex-direction:column;
    justify-content:space-around
}