.carddetail{
    border:3px solid #ebe7df ;
    border-radius:1%; 
    display: flex; 
    flex-direction:column ; 
    align-items:center; 
    justify-content:space-between; 
    background-color: #282c34; 
    color: #ebe7dfe6; 
    width:90%; 
    height: auto;
    padding: 0x 0px 20px 0px;
    font-family:sans-serif;
    margin-bottom:30px;
    margin-top:30px;
    background-color:#222428cc ;
    
}

.carddetail img{
    border:2px solid #ebe7dfe6;
    border-radius:5px;
}

.diets{
    display:flex;
    flex-direction: column ;
    font-size: 20px ;
    height: auto;
    width:25%;
    margin-bottom:0px;
    margin-top:20px;
    margin-right:10px;
    align-items:center;
    justify-content:flex-start;
    padding: 0x 0px 0px 0px;
    border: 1px solid #ebe7dfe6;
    border-radius:10%;
    
   }

   .diets ul li{
   padding-left: 0 ;
   padding-right: 0 ;
   margin-left:0 ;
   margin-right:0
   }

   .diets ul li span{
    display:flex;
    margin-left:-3px;
 
   }

   .diets p{
    font-size:16px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around; 
   }

   .diets h4{
    padding-bottom:0px ;
    margin-bottom:0px
   }

  
   .row{
    display:flex;
    flex-direction: row ;
    width:80%;
    margin-top:4px;
    justify-content:center
   }

    .cardsummary{
    width:80% ;
    border-radius:5px;
    padding: 10px 10px 10px 10px ;
   }

   .cardsummary a {
    color:orange ;
    text-decoration:none;
   }

   .cardinstructions{
    display:flex;
    flex-direction:column ;
    align-items:flex-start ;
    justify-content:flex-start;
    margin-top:25px ;
    margin-bottom:15px ;
    padding-bottom:25px ;
    border:1px solid #ebe7dfe6;
    width:90%;
    border-radius:5px;

   }

   .cardinstructions h2{
    display:flex;
    align-self:center
   }

   .cardinstructions div ol li{
    margin-right: 0px;
    padding-right:0px
   }

   .cardinstructions div ol li span{
    display:flex;
    margin-left: 0px;
    padding-left:0px
   }

   .loader{
    margin-top:60px ;
   }

   .loader img{
    border:2px solid #ebe7dfe6;
    border-radius:5px;
   }

   

  