
.filt{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:95%;
    margin-right:100px;
    margin-bottom: 10px
}

.buttonRem{
  margin-left:15px;
  height:auto;
  font-size:14px;
  color: whitesmoke ;
  border-radius: 5px;
  border: 1px solid white ;
  background-color:#13161acc ;
  padding: 3px  ; 

}


.filtapplied{
  display:flex;
  flex-direction:row;
  width:95%;
  color:rgb(236, 231, 223) ;
  font-weight:bold;
  padding: 0px 
  
}