.btn{
    margin-left:0px;
    color:white;
    background-color: #222428cc;
    opacity:90% ;
    height:95% ;
    width:60px ;
    border: 0px
 
}

.page{
    margin-top: 20px;
    height: 25px;
    margin-bottom:5px;
    background-color:#222428cc ;
}

.page span{
    margin-left:6px;
    margin-left:6px;
    color:white;
}

.navno{
    color:white;
}

.navyes{
    color:orange;
}
