.carddetail{
    border:3px solid #ebe7df ;
    border-radius:18px; 
    display: flex; 
    flex-direction:column ; 
    align-items:center; 
    justify-content:space-between; 
    background-color:#ebe7df ;
    color: #282c34; 
    width:45%; 
    height: auto;
    padding: 0;
    font-family:sans-serif;
    margin-bottom:30px;
    margin-top:100px;
    opacity: 85%;
    font-size: 20px ;
    font-weight:bold;
   
}

.diets{
    display:flex;
    flex-direction: column ;
    font-size: 25px ;
    height: auto;
    width:100%;
    margin-bottom:0px;
    margin-top:0px;
    align-items:center;
    justify-content:space-around;
    padding: 0;
   }

   body{
    
    background-image: url("../../resources/img/about2.jpg");
    
   }  

   .landinglink{
    color: rgba(240, 11, 61, 0.99);
    text-decoration:underline ;
   }

   .landinglink:hover{
    color: rgba(11, 240, 202, 0.99);
    text-decoration:none ;
    background-color:#424243
   }