.Cardscontainer{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row; 
    justify-content:space-around; 
    align-items:space-around;
    height:auto
}

.sortfilt{
        background-color:#222428cc ;
        margin-top:2px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        font-size:14px;
        color: whitesmoke ;
        height: 110px ;
        width: 90%;
        border-radius: 5px;
        border: 1px solid white ; 
    
}

.cardsresults{
    margin-top: 1px;
    margin-bottom: 20px;
    padding-top:0px;
    padding-bottom:0px;
    font-size: 20px ;
    font-weight: bold;
    width: 8% ;
    border: 2px solid rgb(236, 231, 223) ;
    color:antiquewhite ;
    border-radius: 5px ;
    height: 40px ;
    background-color:#222428cc ;
    display:flex;
    align-items:center ;
    justify-content:center
}

.buttonClean{ 
    height:60px;
    font-size:30px;
    color: #54fb0ccc ;
    border-radius: 8px;
    border: 3px solid white ;
    background-color:#222428cc ;
}

.buttonClean:hover{
    text-decoration:underline
}

.Cards{
    width:90%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background-color:#222428cc ;
    border-radius:2px;
    margin-top:10px
}

.results{
    background-color:#222428cc ;
    padding:4px;
    color:antiquewhite
}

.out{
    background-color:#222428cc ;
    padding:4px;
    color:antiquewhite;
    width:70%;
    height:300px ;
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center
}


