.carddetail{
    border:3px solid #ebe7df ;
    border-radius:18px; 
    display: flex; 
    flex-direction:column ; 
    align-items:center; 
    justify-content:space-between; 
    background-color:#ebe7df ;
    color: #282c34; 
    width:45%; 
    height: auto;
    padding: 0x 0px 0px 0px;
    font-family:sans-serif;
    margin-bottom:30px;
    margin-top:5px;
    opacity: 85%;
    font-size: 20px ;
   
}

.carddetail h3{
    flex-wrap:wrap;
    justify-content:center
}

.carddetail li{
   font-weight:bold
}

 