.Cardscontainer{
    background-color:#222428cc ;
    border-radius:2px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row; 
    justify-content:space-around; 
    align-items:space-around;
    padding: 15px 40px 10px 40px; 
    margin: 0px 15px 0px 15px;
    width: 85%;
    height:auto
    
}

.sortfilt{
        background-color:#222428cc ;
        margin-top:10px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        font-size:14px;
        color: whitesmoke ;
        height: 80px ;
        width:75%;
        border-radius: 5px;
        border: 1px solid white ; 
    
}

