.cardcontainer{
    border:3px solid #ebe7df ;
    border-radius:1%; 
    display: flex; 
    flex-direction:column ; 
    align-items:center; 
    justify-content:space-between; 
    background-color: #282c34; 
    color: #ebe7dfe6; 
    width:312px; 
    height: 550px;
    padding: 0x 0px 10px 0px;
    font-family:sans-serif;
    margin-bottom:28px;
    margin-top:20px;
}

.button {
    background-color:#282c34;
    border: 3px solid rgb(88, 33, 206); 
    border-radius:1%;
    padding: 0px 5px 0px 5px;
    width:auto;
    height:auto
}

.link{
    font-weight:bold ;
    font-size: 16px;
    font-family: Verdana;
    color:rgb(88, 33, 206);
    text-decoration: none;
}

.link:hover {
    color:white ; 
   }

