.cardcontainer{
    border:3px solid #ebe7df ;
    border-radius:1%; 
    display: flex; 
    flex-direction:column ; 
    align-items:center; 
    justify-content:space-between; 
    background-color: #282c34; 
    color: #ebe7dfe6; 
    width:312px; 
    height: 550px;
    padding: 0x 0px 10px 0px;
    font-family:sans-serif;
    margin-bottom:28px;
    margin-right:10px;
}

.button {
    background-color:#282c34;
    font-weight:bold ; 
    color:rgb(232, 184, 41);
    font-size: 18px; 
    border: 1px solid black; 
    border-radius:10%;
    font-family: Verdana;
    padding: 0px 5px 0px 5px;
    width:auto;
    height:auto;
       
}

.button:hover {
    color:white ; 
    font-weight:lighter;
  }

