.carddetail{
    border:3px solid #ebe7df ;
    border-radius:1%; 
    display: flex; 
    flex-direction:column ; 
    align-items:center; 
    justify-content:space-between; 
    background-color: #282c34; 
    color: #ebe7dfe6; 
    width:85%; 
    height: auto;
    padding: 0x 0px 20px 0px;
    font-family:sans-serif;
    margin-bottom:30px;
    margin-top:30px;
    background-color:#222428cc ;
    
}

.diets{
    display:flex;
    flex-direction: column ;
    font-size: 20px ;
    height: auto;
    width:22%;
    margin-bottom:0px;
    margin-top:20px;
    margin-right:6px;
    align-items:center;
    justify-content:flex-start;
    padding: 0x 0px 0px 0px;
    border: 1px solid #ebe7dfe6;
    border-radius:10%;
    
   }

   li.diets{
   justify-content:flex-start ;
   padding-left: 0px ;
   padding-right: 0px ;
   margin-left:0px ;
   margin-right:0px

   }

  
   .row{
    display:flex;
    flex-direction: row ;
    width:80%;
    margin-top:4px;
    justify-content:center
   }

   .p.diets{
    flex-wrap:wrap;
   }

   .cardsummary{
    width:80% ;
    justify-content:space-between;
    background-color:rgba(0, 0, 0, 0.503);
    border: 1px solid #ebe7dfe6;
    border-radius:2px;
   }

   a.cardsummary{
    color:orange
   }

   .cardp{
    font-size:16px
   }

   .cardinstructions{
    display:flex;
    flex-direction:column ;
    align-items:center ;
   }

