.form{
    display:flex;
    margin-top:40px;
    margin-bottom:40px;
    flex-direction:column ;
    flex-wrap:wrap;
    justify-content: space-between ;
    align-items:center;
    font-size:18px;
    color: rgb(210, 147, 11) ;
    border: 1px solid rgb(210, 147, 11);
    height: auto ;
    width:40%;
    border-radius: 5px ;
    background-color:#222428cc ;
    
}


.button {
    background-color:rgb(232, 184, 41);
    font-weight:bold ; 
    color:#282c34;
    font-size: 18px; 
    border: 1px solid black; 
    border-radius:1%;
    font-family: sans-serif;
    padding: 7px 6px 7px 6px;
    width:auto;
    height:auto;
       
}

.button:hover {
    color:white ;
    font-weight:bold ; 
    border: 1px solid rgb(100, 230, 19); 
    background-color: rgb(10, 102, 10)
  }

.error {
    color: red;
    font-size: 13px;  
}

.errorborder {
    border: 1px solid rgb(240, 5, 5);
}

.label{
    font-weight:bold
}
