.navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size:23px;
    font-weight: bold;
    color: black ;
    /* background-color: #ebe7df ; */
    background-color:#222428cc ;
    height: 50px ;
    width:100%;
    border-radius: 5px ;
    padding:5px 0px 5px 0px;
    margin-top: 5px ;
    
    
}

.main{
    font-size:23px;
    color: antiquewhite ;
    text-decoration: none;  
    margin-left:20px;
    margin-right:20px;
}

.main:hover{
    font-size:23px;
    color:rgb(75, 21, 192) ;
    text-decoration: none;  
   
}