
.sep{
    margin-left:6px;
    color:white;
 
}

.page{
    margin-top: 20px;
    height: 25px;
    margin-bottom:5px;
    background-color:#222428cc ;
}

.navno{
    color:white;
}

.navyes{
    color:orange;
}
